/*========================GLOBAL STYLE VARIABLES========================*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

*, *::before, *::after {
    padding: 0;
    margin: 0;

    --dark: #2e2e2e;
    --light: #fbfffa;
    --neon-green: #96ea59;
    --light-green: #d5f1c0;
    --mid-green: #61ad2b;
    --dark-green: #38611b;
    --gray1: #d9d9d9;
    --gray2: #cccccc;
    --gray3: #999999;

    --bodyFontFamily: 'Roboto', sans-serif;
    --bodyFontWeight: 100;

    --headerFontFamily: 'Roboto', sans-serif; 
    --headerFontWeight: 500;
}

/*========================PAGE SECTIONS========================*/

nav {
    background-color: var(--dark);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    
    padding-top: 20px;
    margin: 0px;

    width: 100%;
    height: 80px;
    z-index: 100;

    color: var(--neon-green);
    font-size: 20px;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navBarItem {
    display: inline;
}

body {
    width: 100%;
    min-height: 90vh;
    background-color: var(--light);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
}

/* admin navbar */
.darkGreenNav {
    background-color: var(--dark-green);
    width: 100%;
    margin-left: 0%;
    display: flex;
    justify-content: space-between;
}

.navbarLink {
    display: block;
    color: white;
    padding: 16px 14px;
    font-size: 20px;
    text-decoration: none;
    border: none;
    background: transparent;
}

.navbarLink:hover {
    color: var(--neon-green);
}

.active {
    color: var(--neon-green);
}

.navbarLink.logout {
    width: 100%;
    text-align: right;
    color: rgb(255, 105, 105);
}

.navbarLink.logout:hover {
    color: red;
}

.accountCircle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 0px;
    background-color: var(--mid-green);
    color: white;
    font-size: 18px;
}

.accountCircle:hover {
    border-width: 2px;
    border-style: none;
    border-color: var(--light-green);
}

.accountCircle:active {
    color: white;
    background-color: var(--neon-green);
    border-width: 2px;
    border-color: var(--light-green);
    border-style: none;
}

/* Dropdown styling */
.dropdown {
    line-height: 20px;
}

.dropdown.Show {
    background: var(--dark-green); /* Ensure dropdown matches the navbar */
}

.dropdown.Hide {
    display: none;
}

.dropdownItems {
    text-decoration: none;
    display: block;
    text-align: right;
}



/*========================BOXES========================*/

.navBarBuffer {
    width: 100%;
    height: 100px;
}

.leftBox {
    width: 60%;
    height: 700px;
    display: grid;
    margin: 0px;
    background-color: var(--light);
}
.rightBox {
    width: 40%;
    height: 700px;
    display: grid;
    margin: 0px;
    background-color: var(--mid-green);
}
.fullBox {
    width: 100%;
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--light);
}
.fullBox.gray {
    background-color: var(--gray1);
}
.footer {
    background-color: var(--dark);
    display: block;
    padding: 8%;
    padding-top: 50px;
    width: 84%;
    height: 200px;
    color: white;
    line-height: 50px;
}

.greenStripe {
    background-color: var(--neon-green);
    width: 100%;
    height: 20px;
}
.midGreenStripe {
    background-color: var(--mid-green);
    width: 100%;
    height: 20px;
}

.emptyStripe {
    background-color: transparent;
    width: 100%;
    height: 40px;
}



/*========================LINKS========================*/

.navbarLink {
    display: block;
    color: white;
    padding: 14px 16px;

    font-size: 20px;
    text-decoration: none;

    border: none;
    background: transparent;
}
.navbarLink:hover {
    color: var(--neon-green);
}
.active {
    color: var(--neon-green);
}
.navbarLink.logout {
    width: 100%;
    text-align: right;
    color: rgb(255, 105, 105);
}
.navbarLink.logout:hover {
    color: red;
}

.footerLink {
    color: white;
    text-decoration: none;
}
.footerLink:hover {
    color: var(--neon-green);
}

/*========================INPUT FIELDS========================*/

/* input for login */
.input1 {
    background-color: transparent;
    border:none;
    border-bottom: 3px solid var(--gray3);

    width: 90%;
    height: 30px;

    padding: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.input1:focus {
    outline: none;
    border-bottom: 3px solid var(--dark);
}
.input1:invalid:focus {
    outline: none;
    border-bottom: 3px solid red;
}
.input1:valid:focus {
    outline: none;
    border-bottom: 3px solid green;
}

/* input for profile page */
.input2 {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--gray2);

    width: 90%;
    height: 30px;

    padding: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.input2:disabled {
    background-color: var(--gray1);
}
.input2:active:focus {
    outline: none;
    border-color: var(--gray3);
}
.input2:invalid:focus {
    outline: none;
    border-color: red;
}
.input2:valid:focus {
    outline: none;
    border-color: green;
}

/*========================TEXT========================*/

h1 {
    font-size: 40px;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);

    margin-top: 10px;
    margin-bottom: 10px;
}
h1.homePage {
    font-size: 60px;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);

    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 30px;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
}
p {
    font-size: 20px;
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
}
label {
    margin-top: 30px;
    margin-bottom: 30px
}

.warningText {
    font-size: 10px;
    color: red;
    margin: 0px;
}

/* The message box is shown when the user clicks on the password field */
.passwordMessage {
    position: relative;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 15px;
}

.passwordMessage p {
    padding-left: 20px;
    font-size: 10px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "\2713";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "\2717";
}
.dropdown {
    line-height: 20px;
}
.dropdown.Show {
    background: var(--dark);
}
.dropdown.Hide {
    display: none;
}
.dropdownItems {
    text-decoration: none;
    display: block;
    text-align: right;
}

/*========================BUTTONS========================*/

/* Big green button */
.button1 {
    color: var(--dark);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 18px;

    background-color: var(--neon-green);
    border-color: transparent;
    width: 170px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
}
.button1:hover {
    background-color: var(--mid-green);
}
.button1:active {
    color: white;
    background-color: var(--dark-green);
}
.button1:disabled {
    color: var(--gray3);
    background-color: var(--gray1);
}

/* Text button */
.button2 {
    color: var(--dark);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 14px;

    background-color: transparent;
    border-color: transparent;
}
.button2:hover {
    color: var(--mid-green);
}
.button2:active {
    color: var(--neon-green);
}

/* Smaller dark button */
.button3 {
    color: var(--dark);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 14px;

    background-color: transparent;
    border-style: solid;
    border-color: var(--dark);
    padding: 5px;
}
.button3:hover {
    color: white;
    background-color: var(--dark);
}
.button3:active {
    color: var(--dark);
    background-color: white;
}

/* for the edit pencil buttons */
.button4 {
    background-color: var(--gray2);
    border: none;
    padding: 5px;
    border-radius: 10px;
}
.button4:hover {
    background-color: var(--neon-green);
}
.button4:active {
    background-color: var(--mid-green);
}

.accountCircle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 0px;
    background-color: var(--mid-green);
    color: white;
    font-size: 18px;
}
.accountCircle:hover {
    border-width: 2px;
    border-style: none;
    border-color: var(--light-green);
}
.accountCircle:active {
    color: white;
    background-color: var(--neon-green);
    border-width: 2px;
    border-color: var(--light-green);
    border-style: none;
}

/* Small white text */
.button5 {
    color: white;
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 14px;

    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
}
.button5:hover {
    color: var(--mid-green);
}
.button5:active {
    color: var(--neon-green);
}

/* set sizing of map container */
.leaflet-container {
    height: 100vh;
}/* dashboard styles */
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 20px;
}

.profile-circle {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.loading,
.error {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

